<a href="https://colab.research.google.com/github/chonglitwei0129/1091031-new/blob/main/1031.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")
"""
test
"""

hello world

'\ntest\n'

In [ ]:
x=(5)
y=("lw")
print(x,y)

5 lw

In [ ]:
x=["a","b",1]
print(type(x))
x=('a','b','c')
print(type(x))
x=b"hello"
print(type(x))
q=range(6)
q=list(range(6))
print(q)
c=bool(1)
print(c)

<class 'list'>
<class 'tuple'>
<class 'bytes'>
[0, 1, 2, 3, 4, 5]
True

In [ ]:
import random
print(random.randrange(0,10))
print(random.random())
x=int('3')
print(type(x))

y="hello"
print(y[3:5])
print(y[-5])
b="HELLO".lower().upper().replace("E","q").split('L')
age=44
c="hello {} {}"
print(c.format(age,age))

d=3
e=4
if d>e:
  print("d>e")
else:
  print("d<e")

9
0.6576186224784928
<class 'int'>
lo
h
hello 44 44
d<e

In [ ]:
a=(1,2,3,3,3,4,4,4,4)
print(a.count(4))

4

In [ ]:
x=2
y=3
print(x**y)
print(y//x)
a=['a',1,'b',2,'c',3]
print(a[0],a[1])
c={'a',1,2,3,'b','a'}
print(c)
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

8
1
a 1
{1, 2, 3, 'b', 'a'}
True

In [ ]:
dict1={
    'a':1,
    'b':2,
    3:'c',
    4:'d'
}
print(dict1['b'])

2

In [ ]:
a=3
b=2
if a>b:
  print(">")
elif a<b:
  pint("<")
else:
  print("=")

>